.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

/* Inspiring Text */
.inspiring-text {
  font-size: 50px;
  z-index: 99;
}

/* Main Content Area */
.content-wrapper {
  display: flex;
  margin: -30px 0;
}

/* Main Content */
main {
  flex: 3;
  padding: 20px;
  margin-inline: 20px;
  border: 1px solid black;
}

/* Sidebar */
aside {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  border: 1px solid black;
  margin-top: 30px;
}
